doctype html
html
  head
    title Typing Test
    link(rel="stylesheet", href="/css/game.css")
  body
    h1 Typing Speed Test

    div#text

    input#input(type="text" autofocus autocomplete="off")

    script(src="/js/game.js")
