doctype html
html
  head
    title Hat Typing Test
    link(rel="stylesheet", href="/css/game.css")
  body
    .game-container
      //- The container that holds the words
      #text-wrapper
        #text
      //- Hidden input to capture keystrokes without being visible
      input#input(type="text", autocomplete="off", autofocus)
    
    #results.hidden
    
    script(src="/js/game.js")
    